/* Universal Style Rules*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navigation*/
body nav {
  padding-top: 10px;
  display: inline-block;
  float: right;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0px 12px;
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h2 {
  padding: 30px 0;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
}

/* Table Style Rules */
.table-wrapper {
  margin-right: 5px;
  margin-left: 5px;
}

table {
  border-radius: 5px;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  background-color: #ffdcd1;
  font-size: 16px;
}

caption {
  margin: 14px 0px;
  caption-side: bottom;
  font-size: 14px;
  font-style: italic;
}

#none {
  background-color: pink;
}

table th,
table td {
  padding: 8px;
  text-align: center;
  border: solid 1px red;
}

table tfoot {
  background-color: #ffedea;
}

/* Color Table Header */
table thead th {
  background-color: #f89647;
}

/* Color Even Rows */
table tr:nth-child(even) {
  background-color: #ffedea;
}
