/* Universal Style Rules*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navigation*/
body nav {
  padding-top: 10px;
  display: inline-block;
  float: right;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0px 12px;
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
}

h2 {
  padding: 30px 0;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
}

/* Table Style Rules */
.table-wrapper {
  margin: 10px 70px 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  font-size: 12px;
}

caption {
  margin: 14px 0px;
  caption-side: bottom;
  font-size: 8px;
  font-style: italic;
}

#none {
  background-color: white;
  border: none !important;
}

table th,
table td {
  padding: 8px;
  text-align: center;
  border: solid 1px blue;
}

table tbody th {
  text-align: left;
}

/* Color Table Header */
table thead th {
  background-color: #bbcde8;
}

/* Color Even and Odd Rows */
table tr:nth-child(even) {
  background-color: #c7dbf7;
}

table tr:nth-child(odd) {
  background-color: #dae8fc;
}
